
<button onclick="tap()">Tap</button>

<p id=o></p>

<script>
var was = (new Date()).getTime();
var tempo = 0;
var count = 0;
function tap() {
  var now = (new Date()).getTime();
  var newtempo = 60000.0 / (now - was);
  was = now;
  ++count;
  if (tempo == 0) tempo = newtempo;
  else tempo = tempo * .8 + newtempo * .2;
  document.getElementById("o").innerHTML = Math.round(tempo) + "bpm";
}
document.onkeypress = tap
</script>